body {
  background: white;
}

::selection {
  background-color: pink;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 5em;
  margin-top: 50px;
}

.title h2 {
  font-size: 2.6em;
  margin-top: 50px;
}

.circle{
  width: 30px;
  height: 30px;
  background: rgb(105, 105, 105);
  border: 0.2px solid rgb(43, 42, 42);
  border-radius: 50%;
  text-align: center;
  margin:auto;
  display:inline-block;
  z-index: 1000;
  position: absolute;
  top: 50px;
}

.circle p{
  line-height: 30px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.cardContainer {
  padding: 2px 16px;
  text-align: center;
}

.cardContainer h1{
  font-size: 1.4em;
}

.cardContainer a {
  margin: 20px;
}

.subs {
  text-align: center;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

.socialbuttons {
  cursor: pointer;
  padding-left: 20px;
}


.fullscreen-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(43, 42, 42, 0.5);
  z-index: 9999;
}

.popUp {
  display: none;
  position: fixed;
  width: 50%;
  height: 50%;
  overflow-y:auto;
  overflow-x: hidden;
  background-color: #ffffff;
  top: 25%;
  left: 25%;
  text-align: center;
  border-radius:10px;
}

.popdivButton{
  background-color: white;
  color: black;
  border: 2px solid #fface3;
  display:inline-block;
  margin: 20px;
  width: 30%;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
}

.popdivButton:hover {background-color: #e7e7e7;}
.popdivButton:active {background-color: #ffffff;}

.signUpButton {
  display:inline-block;
  margin: 20px;
  width: 30%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fface3;
  border-radius: 20px;
  text-transform: lowercase;
}

.signInButton {
  display:inline-block;
  margin: 20px;
  width: 30%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fface3;
  border-radius: 20px;
  text-transform: lowercase;
}

.signInButtonActive {
  display:inline-block;
  margin: 20px;
  width: 30%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fface3;
  border-radius: 20px;
  text-transform: lowercase;
}

.closeBox{
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  float: right;
  margin: 15px;
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #636363;
  color: white;
  text-align: center;
  margin-top: 20px;
}
