body {
  background: white;
}

::selection {   
  background-color: pink;  
}

.title{
  text-align: center;
}

.title h1{
  font-size: 5vw;
}

.title h2{
  font-size: 2.5vw;
}

.items{
  text-align: center;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cardContainer {
  padding: 2px 16px;
}